.container > p {
  margin: 0;
  text-align: right;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.id {
  color: #a0a0a0;
}

@media screen and (min-width: 800px) {
  .container {
    margin-top: 1rem;
  }

  .container > p {
    text-align: center;
  }

.name {
  font-size: 32px;
  }

  .id {
    font-size: 20px;
  }
}