.headline {
  width: 80%;
  margin: 0 auto 1.5rem;
}

.item {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
}

.item+.item {
  border-top: 1px solid #a0a0a0;
}

@media screen and (min-width: 800px) {
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .container::before{
    content:"";
    display: block;
    width:25%;
    order:1;
  }
  .container::after{
    content:"";
    display: block;
    width:25%;
  }
  
  .item {
    width: 25%;
    justify-content: flex-start;
    margin-top: 2%;
  }

  .item+.item {
    border: none;
  }
}