.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.item {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: #fff;
  border-radius: 4px;
  animation: dropDown 3s ease-in-out 1 forwards;
}

.item > p {
  margin: 0;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}