.item {
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .wrap {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .container {
    width: 50%;
  }
}