.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 4px;
  width: 80%;
  margin: 1rem auto;
  padding: 0;
  font-size: 22px;
  cursor: pointer;
}

.blue {
  border: none;
  background-color: #3C549F;
}

.pink {
  border: none;
  background-color: #E06A9E;
}

.transparent {
  background-color: #fff;
}